@font-face {
    font-family: font1;
    src: url(./sf-pro-text_medium.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: font1;
    background-color: rgb(24, 24, 24);
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.navbar{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.container { 
    height: 500px;   /* important */
    width: 100%;
    background-image: url("https://www.apple.com/v/home/cm/images/promos/iphone-17-pro/promo_iphone_17_pro__ywtbkeachg2e_small.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.container h1{
    font-size: 50px;
}
.container p{
    font-size: 30px;
    padding-bottom: 20px;
}
.btnLearn{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: rgb(0, 90, 182);
}
.btnBuy{
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    outline: none;
    border: 2px solid rgb(0, 90, 182);
    color: rgb(0, 90, 182);
    background-color: black;
}